.BookListItem {
    position: relative;
    width: 200px;
    height: 350px;
}

.BookListItem .delete {
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 24px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.BookListItem .delete::before,
.BookListItem .delete::after {
    position: absolute;
    content: '';
    height: 12px;
    width: 2px;
    background-color: #333;
}

.BookListItem .delete::before {
    transform: rotate(45deg);
}

.BookListItem .delete::after {
    transform: rotate(-45deg);
}

.bookImage {
    width: 100%;
    height: 80%;
}

.text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
    font-weight: 500;
}

.author {
    margin-top: 5px;
    color: gray;
    font-size: 14px;
}

.ldsRing {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 200px;
    height: 350px;
}

.ldsRing div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fd7878;
    border-radius: 50%;
    animation: ldsRing 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fd7878 transparent transparent transparent;
}

.ldsRing div:nth-child(1) {
    animation-delay: -0.45s;
}

.ldsRing div:nth-child(2) {
    animation-delay: -0.3s;
}

.ldsRing div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes ldsRing {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
